In [1]:
import pandas as pd
import numpy as np
import dateutil

In [2]:
try_df = pd.read_csv('data.csv', header=None, names=['DATE','TAVG', 'TMAX', 'TMIN'], usecols=[1,2,5,8]).fillna(0)

In [3]:
try_df['DATE'] = pd.to_datetime(try_df['DATE'])

In [23]:
try_df['DATE'].values

array(['1881-01-01T00:00:00.000000000', '1881-01-02T00:00:00.000000000',
       '1881-01-03T00:00:00.000000000', ...,
       '1891-04-28T00:00:00.000000000', '1891-04-29T00:00:00.000000000',
       '1891-04-30T00:00:00.000000000'], dtype='datetime64[ns]')

In [5]:
try_df.head()

        DATE  TAVG  TMAX  TMIN
0 1881-01-01   2.0   9.7  -6.2
1 1881-01-02   2.4   6.3  -0.7
2 1881-01-03   1.4   9.7  -3.4
3 1881-01-04   0.6  10.1  -5.8
4 1881-01-05   0.8  11.3  -5.8

In [11]:
a = try_df['DATE']
type(a[0])

pandas._libs.tslibs.timestamps.Timestamp

In [7]:
[a[0].year, a[0].month, a[0].day]

[1881, 1, 1]

In [8]:
b = a[1]-a[0]
type(b)

pandas._libs.tslibs.timedeltas.Timedelta

In [9]:
b.days

1